<% flash.each do |type, message| %>
  <div class="alert alert-message <%= alert_css_class(type) %>" data-alert="alert">
    <a class="close" data-dismiss="alert" href="#">&times;</a>
    <p><%= message %></p>
  </div>
<% end %>
